body {
    background-color: #f5f4f4;
}

.wrap {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

/* 广告轮播图 */
.wrap .banner {
    width: 100%;
    height: 350px;
    background-color: #37ADDB;
}

/* 标签 网页端 */
.wrap .tab-nav {
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top: 20px;

    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    /*background-color: #d7d7d7;*/
}

.wrap .tab-nav a {
    font-size: 18px;
    margin: 0 15px;
    color: #353131;
    white-space: nowrap;

    /* 延时 */
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.wrap .tab-nav a:hover {
    color: #8a8a8a;
}

/* 搜索框 手机端 */
.wrap .serbox {
    width: 99%;
    height: 38px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    display: none;
}

.wrap .serbox .search {
    width: 100%;
    height: 100%;
    padding: 0 38px 0 8px;
    font-size: 16px;
    box-sizing:border-box;
    border-radius: 6px;
    border: 1px #B2B2B2 solid;
    outline: none;
    position: absolute;
}

.wrap .serbox .search-btn {
    width: 38px;
    height: 100%;
    right: 0;
    position: absolute;
    border: none;
    outline: none;
    box-sizing:border-box;
    background: transparent url("../icon/search.png") no-repeat center;
    background-size: 60% 60%;   /* 横向拉伸 在background下面 */
    cursor: pointer;
}

/* 杂志标签 手机端 */
.wrap .catewords {
    width: calc(100% - 10px);
    margin: 0 auto;
    display: none;
    text-align: center;
    box-sizing: border-box;
}

.wrap .catewords ul {
    width: 100%;
    text-align: center;
    font-size: 0;   /* 消除 inline-block 产生的间距 */
}

.wrap .catewords li {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    font-size: 3.8vw;
    padding: 3px 0;
}

.wrap .catewords a {
    color: #7F7F7F;
}

/* 内容 */
.wrap .main {
    /*background-color: #e8e8e8;*/
}

@media screen and (max-width: 1290px) {
    .wrap .banner {
        height: 300px;
    }
}

@media screen and (max-width: 800px) {
    .wrap .banner {
        height: 250px;
    }
}

@media screen and (max-width: 640px) {
    /* body */
    body {
        background-color: #FFFFFF;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    a {
        outline: none;-moz-outline-style: none;
    }

    .wrap {
        width: calc(100% - 20px);
        margin: 10px;
    }

    .wrap .banner {
        height: 35vw;
    }

    .wrap .tab-nav {
        display: none;
    }

    /* 搜索框 手机端 */
    .wrap .serbox {
        display: block;
    }

    .wrap .catewords {
        display: block;
    }

    .wrap .tab-head {
        display: block;
    }

}
