/* 类目选择 */
/* blue border:#4cc4ea background:#19a9d5 */
/* purple border:#8c83c7 background:#6254b2 */
.cate-radio {
    margin:0 5px 0 0;
    cursor: pointer;
}

.cate-radio p {
    font-size: 12px;
    font-family: Microsoft YaHei;
    font-weight: 500;
    color: #5a52a8 ;
    border-radius: 999px;
    border: 1px solid #8c83c7;
    padding: 3px 10px;
    /* 延时 */
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.cate-radio p:hover {
    /*color: #fff;*/
    background-color: rgba(99, 90, 185, 0.17);
}

.cate-radio input {
    display: none;
}

.cate-radio input:checked + p {
    color: #fff;
    background-color: #635ab9;
}

@media screen and (max-width: 600px) {
    .cate-radio p {
        font-size: 12px;
        padding: 5px 12px;
    }
}